<html ng-app="burguerapp" >
	<head>
		<meta charset="utf-8" />
		<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="/bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
		<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/bower_components/checklist-model/checklist-model.js"></script>
		<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<script type="text/javascript" src="resources/assets/assets.min.js"></script>
	</head>
	<body>
		<div ui-view ></div>
	</body>
</html>