<meta charset="UTF8" >
<div class="content">
	<div class="alert alert-danger" style="text-align: center" ng-show="usuarioIncorreto">
		<p>Login ou senha incorreto</p>
	</div>
    <h1 class="text-center">Login</h1>
    <div class="modal-body" style="left:35%;">
    	<form name="loginForm">
    		<div class="row">
    			<div class="form-group col-md-4">
	            	<input class="form-control input-lg" placeholder="LOGIN" type="text" ng-model="login.usuario" id="txtLogin" ng-required="true">
	       		</div>
    		</div>
    		<div class="row">
    			<div class="form-group col-md-4">
	            	<input class="form-control input-lg" placeholder="Senha" type="password" ng-model="login.senha" id="senha" ng-required="true">
	        	</div>
    		</div>
    		<div class="row">
		        <div class="form-group col-md-4">
		            <button ng-disabled="!loginForm.$valid" ng-click="logar()" class="btn btn-primary btn-lg btn-block" type="button">Logar</button>
		        </div> 
	        </div> 
    		<div class="row" ng-show="notLogged">
    			<div class="form-group col-md-4 alert alert-danger text-center">
    				<p>Usuário e/ou senha incorretos!</p>
    			</div>
    		</div>
        </form>  
    </div> 

</div>